// Place all the styles related to the Api::Benches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.map {
	width: 500px;
	height: 500px;
}

.headerbench {
	color: white;
	height: 400px;
	width: 900px;
	background-image: url("http://previews.123rf.com/images/learchitecto/learchitecto1207/learchitecto120700027/14659393-isolated-wooden-bench-with-blue-sky-background-in-heaven-space-Stock-Photo.jpg")
}
.headerbench >h1,
.headerbench > h4 {
	text-align: center;
}
